<<<<<<< HEAD
footer {
  width: 100vw;
  height: 300px;
  background: $black;
=======
.footer
{
  width:100vw;
  height:40vh;
  display:inline;
  color: black;
}
.footer ul
{
  list-style-type: none;
>>>>>>> cdf543823d7ca7d237b1e1650bc4fbf555796743
}
