.sections_home
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

    .branding, .insurance
    {
      background-color: $lightgreen;
    }
    .communications
    {
      background-color: $white;
    }
    .insurance
    {
      padding-left: 15px;
      padding-right: 15px;
    }

    .sections
    {
      display: flex;
      align-items: center;
      flex-flow: column;
      height:80vh;
      width:100vw;
      padding-top: 50px;
        p
        {
          font-weight: 500;
          width: 85%;
          line-height: 1.45;
        }
    }
    .mobile_image
    {
      background-size: cover;
      background-position:top;
      background-repeat: no-repeat;
      width:80vw;
      height:80vh;
    }
    .b
    {
      background-image: url('/themes/wordplate/assets/media/Brand.png');
    }

    .i
    {
      background-image: url('/themes/wordplate/assets/media/Insurance.png');
    }
    .c
    {
      background-image: url('/themes/wordplate/assets/media/Communications.png');
    }
  }
  .newsletter
  {
    display: flex;
    align-items: center;
    flex-flow: column;
    height:20vh;
    width:100vw;
    padding-top: 50px;
    p
    {
      font-weight: 500;
      width: 85%;
      line-height: 1.45;
    }
  }
