.sections_home
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;

    .branding, .insurance
    {
      background-color: $lightgreen;
    }
    .branding {
        height:80vh;
    }

    .insurance
    {
      padding-left: 15px;
      padding-right: 15px;
        height:95vh;
    }

    .sections
    {
      display: flex;
      align-items: center;
      flex-flow: column;

      width:100vw;

      color: $white;
      h1 {

        font-size: 2rem;
      }
      .role {
        text-decoration: underline;
        margin: 1rem;
      }
        p
        {

          font-size: 1.1rem;

          width: 85%;
          line-height: 1.45;
        }
    }
    .mobile_image
    {
      background-size: cover;
      background-position:top;
      background-repeat: no-repeat;
      width:80vw;
      height:60vh;
    }
    .b
    {
      background-image: url('/themes/wordplate/assets/media/Brand.png');
    }

    .i
    {
      background-image: url('/themes/wordplate/assets/media/Insurance.png');
    }
    .c
    {
      background-image: url('/themes/wordplate/assets/media/Communications.png');
    }
  }
  .newsletter
  {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width:100vw;
    height: 40vh;
    text-align: center;

    h1 {
      margin:0;
    }

    p
    {
      font-weight: bold;
      width: 85%;
      line-height: 1.45;
    }
    input {
      margin: 1rem;
      padding:.5rem;
      width: 90%;
      height: 50px;
      border: 2px solid black;
      border-radius: 7px;
    }
  }

  .communications {
      height:90vh;
    h1, p {
      color: $black;

    }
    p {

    }
    img {

    }
  }
