.sections_home
{
  height: 120vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  text-align: center;
  padding-top: 7rem;
    .branding .insurance
    {
      display: flex;
      flex-flow: column;
      align-items: center;
      background: $lightgreen;
    }
  }
